<h1 class="text-center">{{title}}</h1>

<p class="text-center">
  Venez découvrir nos bords de plages!
</p>


<div class="col-md-4"></div>
<div class="form-group text-center col-md-4">
  <label class="text-center" for="sel1">
  <label for="sel1">Choisissez votre bonheur :</label>

  <select class="form-control" id="sel1" ng-model="selectedNameVille" ng-change="change()" name="ville">
    <option ng-repeat="ville in villes | orderBy : 'nom'" value="{{ville.nom}}" >{{ville.nom}}</option>
  </select>

</div>

<div class="col-mp-4"></div>
<div class="center-block" id="carrousel" ng-show="myValue">
	
    <ul>
    <li><img src="{{selectedVille.photo1}}" alt=""/></li>
	<li><img src="{{selectedVille.photo2}}" alt=""/></li>
	<li><img src="{{selectedVille.photo3}}" alt=""></li>
    </ul>

</div>

<div class="col-md-4"></div>
<div class="center-block col-md-12" id="openweathermap" ng-show="myValue">
  <p class="text-center">La température de {{selectedVille.nom}} : {{temp}}°C <img src="" class='image'></p>
  <p class="text-center">La vitesse du vent est de {{wind}} m/s</p>
  <iframe class="video center-block mgtop" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>

</div>

<div id="googlemap">
  <div class="center-block" id="googleMap" style="width:900px;height:380px;"></div>


</div>



